In [102]:
# pip install pandas

import pandas as pd
import numpy as np

file_path = "BBDD Huespedes (Macros).xlsm"

# Leer las dos hojas específicas en un diccionario de DataFrames
sheets_dict = pd.read_excel(file_path, sheet_name=["BBDD CoHost", "BBDD Anfitrion"], engine="openpyxl")

# Extraer cada hoja en un DataFrame separado
df_cohost = sheets_dict["BBDD CoHost"]
df_anfitrion = sheets_dict["BBDD Anfitrion"]

# Mostrar las primeras filas de cada DataFrame para verificar
print("BBDD CoHost:")
print(df_cohost.head())
df_cohost.info()

print("\nBBDD Anfitrion:")
print(df_anfitrion.head())
df_anfitrion.info()

BBDD CoHost:
                Nombre del huésped       Contacto  Número de adultos  \
0             Gustavo Rodolfo Vega              0                  1
1         Jose Antonio Rivero Moro              0                  2
2  Luis Alexander Espinoza La Cruz              0                  1
3                    Erick Herrera  +591 78434480                  1
4                    Erick Herrera  +591 78434480                  1

   Número de niños              Ingreso               Salida  \
0                0  2025-02-27 00:00:00  2025-03-01 00:00:00
1                0  2025-03-08 00:00:00  2025-03-10 00:00:00
2                0  2025-02-16 00:00:00  2025-02-21 00:00:00
3                0  2025-02-28 00:00:00  2025-03-01 00:00:00
4                0  2025-02-26 00:00:00  2025-02-28 00:00:00

   Número de noches Fecha de Reservación   Propietario        Propiedad  \
0                 2             00:00:00     Dr._Ortiz  SKY ELITE - 320
1                 2             00:00:00     Dr._Ortiz  SKY ELITE - 524
2                 5             00:00:00     Dr._Ortiz  SKY ELITE - 524
3                 1             00:00:00  Boris_Ayviri  SKY ELITE - 115
4                 2             00:00:00  Boris_Ayviri  SKY ELITE - 115

   Ingresos Totales BOB  Ingresos Propietario BOB  Comision BOB  Limpieza BOB
0                 547.5                   411.750        60.750            75
1                 547.5                   411.750        60.750            75
2                1237.5                  1010.625       151.875            75
3                 337.5                   229.875        32.625            75
4                 582.0                   441.750        65.250            75
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre del huésped        26 non-null     object
 1   Contacto                  26 non-null     object
 2   Número de adultos         26 non-null     int64
 3   Número de niños           26 non-null     int64
 4   Ingreso                   26 non-null     object
 5   Salida                    26 non-null     object
 6   Número de noches          26 non-null     int64
 7   Fecha de Reservación      26 non-null     object
 8   Propietario               26 non-null     object
 9   Propiedad                 26 non-null     object
 10  Ingresos Totales BOB      26 non-null     float64
 11  Ingresos Propietario BOB  26 non-null     float64
 12  Comision BOB              26 non-null     float64
 13  Limpieza BOB              26 non-null     int64
dtypes: float64(3), int64(4), object(7)
memory usage: 3.0+ KB

BBDD Anfitrion:
       Nombre del huésped       Contacto  Número de adultos  Número de niños  \
0         Daniel Illescas  +591 67985704                  2                0
1        Renato Rodrigues              0                  3                0
2  Bladimir Muriel Mamani              0                  1                0
3  Alberto Cuellar Rivero              0                  1                0
4      Juan Carlos Mamani              0                  4                0

               Ingreso               Salida  Número de noches  \
0  2025-02-27 00:00:00  2025-03-16 00:00:00                17
1           28/01/2025  2025-01-02 00:00:00                 4
2  2025-01-02 00:00:00  2025-02-02 00:00:00                 1
3           29/01/2025           31/01/2025                 2
4           18/01/2025           20/01/2025                 2

  Fecha de Reservación Propietario          Propiedad  Ingresos Totales BOB  \
0             00:00:00     Familia  MACORORO 12 - 12F              4963.425
1             00:00:00     Familia   MACORORO 15 - 8G              2263.425
2             00:00:00     Familia    SKY ELITE - 229               307.500
3             00:00:00     Familia    SKY ELITE - 229               532.500
4             00:00:00     Familia    SKY ELITE - 229               532.500

   Precio BOB  AirBNB fee BOB  Limpieza BOB
0        4350         538.425          75.0
1        2100          65.925          97.5
2         195          37.500          75.0
3         390          67.500          75.0
4         390          67.500          75.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nombre del huésped    6 non-null      object
 1   Contacto              6 non-null      object
 2   Número de adultos     6 non-null      int64
 3   Número de niños       6 non-null      int64
 4   Ingreso               6 non-null      object
 5   Salida                6 non-null      object
 6   Número de noches      6 non-null      int64
 7   Fecha de Reservación  6 non-null      object
 8   Propietario           6 non-null      object
 9   Propiedad             6 non-null      object
 10  Ingresos Totales BOB  6 non-null      float64
 11  Precio BOB            6 non-null      int64
 12  AirBNB fee BOB        6 non-null      float64
 13  Limpieza BOB          6 non-null      float64
dtypes: float64(3), int64(4), object(7)
memory usage: 804.0+ bytes

In [103]:
#################    CoHost    ###############

# Convirtiendo la columna Ingreso de object a date Tanto para df_cohost
# Create a copy of cleaned_df_cohost to avoid modifying the original dataframe
cleaned_df_cohost = df_cohost.copy()

# Convertir la columna 'Ingreso' a formato datetime
cleaned_df_cohost['Ingreso'] = pd.to_datetime(cleaned_df_cohost['Ingreso'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_df_cohost['Ingreso'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_df_cohost[cleaned_df_cohost['Ingreso'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_df_cohost['Ingreso'].dtype)




#################    Anfitrion    ###############
# Convirtiendo la columna Ingreso de object a date Tanto para df_anfitrion
# Create a copy of cleaned_df_anfitrion to avoid modifying the original dataframe
cleaned_df_anfitrion = df_anfitrion.copy()

# Convertir la columna 'Ingreso' a formato datetime
cleaned_df_anfitrion['Ingreso'] = pd.to_datetime(cleaned_df_anfitrion['Ingreso'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_df_anfitrion['Ingreso'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_df_anfitrion[cleaned_df_anfitrion['Ingreso'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_df_anfitrion['Ingreso'].dtype)

datetime64[ns]
datetime64[ns]

In [104]:
#################    CoHost    ###############
# Convirtiendo la columna Salida de object a date en cleaned_df_cohost

# Convertir la columna 'Salida' a formato datetime
cleaned_df_cohost['Salida'] = pd.to_datetime(cleaned_df_cohost['Salida'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_df_cohost['Salida'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_df_cohost[cleaned_df_cohost['Salida'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_df_cohost['Salida'].dtype)



#################    Anfitrion    ###############
# Convirtiendo la columna Salida de object a date en cleaned_df_anfitrion

# Convertir la columna 'Salida' a formato datetime
cleaned_df_anfitrion['Salida'] = pd.to_datetime(cleaned_df_anfitrion['Salida'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_df_anfitrion['Salida'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_df_anfitrion[cleaned_df_anfitrion['Salida'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_df_anfitrion['Salida'].dtype)

datetime64[ns]
datetime64[ns]

In [105]:
#################    CoHost    ###############
# Convirtiendo la columna Fecha de Reservación de object a date en cleaned_df_cohost

# Si en el formulario de Excel se deja vacio la casilla de Fecha de Reservación, esta se guarda como "00/01/1900" en la BBDD
# Convertir a string y limpiar espacios
cleaned_df_cohost["Fecha de Reservación"] = cleaned_df_cohost["Fecha de Reservación"].astype(str).str.strip()

# Reemplazar el valor "00/01/1900" por NaT antes de la conversión
cleaned_df_cohost["Fecha de Reservación"] = cleaned_df_cohost["Fecha de Reservación"].replace("00/01/1900", pd.NA)

# Convert 'Fecha de Reservación' to datetime format (YYYY-MM-DD)
cleaned_df_cohost['Fecha de Reservación'] = pd.to_datetime(
    cleaned_df_cohost['Fecha de Reservación'], 
    format='%d-%m-%Y', 
    errors='coerce'
)

# Verify if there are NaT values after conversion, many values will come as NaT values from the excel form.
if cleaned_df_cohost['Fecha de Reservación'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_df_cohost[cleaned_df_cohost['Fecha de Reservación'].isna()])

# Display the column type after conversion
print(cleaned_df_cohost['Fecha de Reservación'].dtype)





#################    Anfitrion    ###############
# Convirtiendo la columna Fecha de Reservación de object a date en cleaned_df_anfitrion

# Si en el formulario de Excel se deja vacio la casilla de Fecha de Reservación, esta se guarda como "00/01/1900" en la BBDD
# Convertir a string y limpiar espacios
cleaned_df_anfitrion["Fecha de Reservación"] = cleaned_df_anfitrion["Fecha de Reservación"].astype(str).str.strip()

# Reemplazar el valor "00/01/1900" por NaT antes de la conversión
cleaned_df_anfitrion["Fecha de Reservación"] = cleaned_df_anfitrion["Fecha de Reservación"].replace("00/01/1900", pd.NA)

# Convert 'Fecha de Reservación' to datetime format (YYYY-MM-DD)
cleaned_df_anfitrion['Fecha de Reservación'] = pd.to_datetime(
    cleaned_df_anfitrion['Fecha de Reservación'], 
    format='%d-%m-%Y', 
    errors='coerce'
)

# Verify if there are NaT values after conversion, many values will come as NaT values from the excel form.
if cleaned_df_anfitrion['Fecha de Reservación'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_df_anfitrion[cleaned_df_anfitrion['Fecha de Reservación'].isna()])

# Display the column type after conversion
print(cleaned_df_anfitrion['Fecha de Reservación'].dtype)



#Revisando todos los cambios de Date que realizamos
print(cleaned_df_cohost.head())
print(cleaned_df_anfitrion.head())

Existen valores no convertidos a datetime. Revisa los siguientes datos:
                       Nombre del huésped       Contacto  Número de adultos  \
0                    Gustavo Rodolfo Vega              0                  1
1                Jose Antonio Rivero Moro              0                  2
2         Luis Alexander Espinoza La Cruz              0                  1
3                           Erick Herrera  +591 78434480                  1
4                           Erick Herrera  +591 78434480                  1
5        Antonio Alexandre Consoni Vigano              0                  2
6                           Pablo Montaño              0                  4
7                    Richard Leon Condori              0                  4
8                      Yudy Kahuana Soliz              0                  2
9                          Ricardo Ortega              0                  4
10          Mario Andres Torrico Bautista              0                  2
11                 Bladimir Muriel Mamani              0                  2
12           Elba Maria Bolanos del Prado              0                  2
13             Marco Antonio Lopez Zurita              0                  2
14          Guillermo Alejandro Rodriguez              0                  1
15                         Jose Valasquez              0                  2
16                Hilda Georgina Terrazas              0                  2
17                  Jaime Candido Machado              0                  2
18                     Jaime Diaz Garnica              0                  2
19                     Yudy Kahuana Soliz              0                  4
20                         Ricardo Ortega              0                  4
21          Mario Andres Torrico Bautista              0                  2
22                    Hugo Andres Pizarro              0                  2
23                    Efrain Cuiza Quispa              0                  3
24                  Juan Carlos Dominguez              0                  3
25  Karin Sauma Navajasvivian Salvatierra              0                  2

    Número de niños    Ingreso     Salida  Número de noches  \
0                 0 2025-02-27 2025-03-01                 2
1                 0 2025-03-08 2025-03-10                 2
2                 0 2025-02-16 2025-02-21                 5
3                 0 2025-02-28 2025-03-01                 1
4                 0 2025-02-26 2025-02-28                 2
5                 0 2025-02-14 2025-02-17                 3
6                 0 2025-01-21 2025-01-22                 1
7                 0 2025-01-18 2025-01-21                 3
8                 0 2025-01-17 2025-01-18                 1
9                 0 2025-01-12 2025-01-17                 5
10                0 2025-01-11 2025-01-12                 1
11                0 2025-02-15 2025-02-20                 6
12                0 2025-02-14 2025-02-15                 1
13                0 2025-01-24 2025-01-26                 3
14                0 2025-02-27 2025-02-28                 1
15                0 2025-02-08 2025-02-09                 1
16                0 2025-02-02 2025-03-02                 1
17                0 2025-01-27 2025-02-27                31
18                0 2025-01-25 2025-01-27                 2
19                0 2025-01-17 2025-01-18                 1
20                0 2025-01-12 2025-01-17                 5
21                0 2025-01-11 2025-01-12                 1
22                0 2025-01-18 2025-01-19                 1
23                0 2025-01-16 2025-01-18                 2
24                0 2025-01-21 2025-01-24                 3
25                0 2025-01-17 2025-01-19                 2

   Fecha de Reservación        Propietario        Propiedad  \
0                   NaT          Dr._Ortiz  SKY ELITE - 320
1                   NaT          Dr._Ortiz  SKY ELITE - 524
2                   NaT          Dr._Ortiz  SKY ELITE - 524
3                   NaT       Boris_Ayviri  SKY ELITE - 115
4                   NaT       Boris_Ayviri  SKY ELITE - 115
5                   NaT       Boris_Ayviri  SKY ELITE - 115
6                   NaT  Lic._Freddy_Soria  SKY ELITE - 132
7                   NaT  Lic._Freddy_Soria  SKY ELITE - 132
8                   NaT  Lic._Freddy_Soria  SKY ELITE - 132
9                   NaT  Lic._Freddy_Soria  SKY ELITE - 132
10                  NaT  Lic._Freddy_Soria  SKY ELITE - 132
11                  NaT          Dr._Ortiz  SKY LUXIA - 513
12                  NaT          Dr._Ortiz  SKY LUXIA - 513
13                  NaT       Boris_Ayviri  SKY ELITE - 115
14                  NaT          Dr._Ortiz  SKY ELITE - 524
15                  NaT          Dr._Ortiz  SKY ELITE - 524
16                  NaT          Dr._Ortiz  SKY ELITE - 524
17                  NaT          Dr._Ortiz  SKY ELITE - 320
18                  NaT          Dr._Ortiz  SKY ELITE - 320
19                  NaT  Lic._Freddy_Soria  SKY ELITE - 132
20                  NaT  Lic._Freddy_Soria  SKY ELITE - 132
21                  NaT  Lic._Freddy_Soria  SKY ELITE - 132
22                  NaT          Dr._Ortiz  SKY ELITE - 524
23                  NaT          Dr._Ortiz  SKY ELITE - 524
24                  NaT          Dr._Ortiz  SKY ELITE - 320
25                  NaT          Dr._Ortiz  SKY ELITE - 320

    Ingresos Totales BOB  Ingresos Propietario BOB  Comision BOB  Limpieza BOB
0                547.500                  411.7500       60.7500            75
1                547.500                  411.7500       60.7500            75
2               1237.500                 1010.6250      151.8750            75
3                337.500                  229.8750       32.6250            75
4                582.000                  441.7500       65.2500            75
5                832.500                  659.6250       97.8750            75
6                405.000                  288.3750       41.6250            75
7               1350.000                 1108.5000      166.5000            75
8                405.000                  288.3750       41.6250            75
9               1352.325                 1110.8250      166.5000            75
10               402.300                  285.6750       41.6250            75
11              1470.000                 1212.7500      182.2500            75
12               547.500                  411.7500       60.7500            75
13               830.175                  657.3000       97.8750            75
14               315.000                  209.6250       30.3750            75
15               315.000                  209.6250       30.3750            75
16               315.000                  209.6250       30.3750            75
17              7015.350                 5990.4675      949.8825            75
18               705.000                  547.8750       82.1250            75
19               405.000                  288.3750       41.6250            75
20              1352.325                 1110.8250      166.5000            75
21               402.300                  285.6750       41.6250            75
22               315.000                  209.6250       30.3750            75
23               547.500                  411.7500       60.7500            75
24               780.000                  613.8750       91.1250            75
25               547.500                  411.7500       60.7500            75
datetime64[ns]
Existen valores no convertidos a datetime. Revisa los siguientes datos:
               Nombre del huésped       Contacto  Número de adultos  \
0                 Daniel Illescas  +591 67985704                  2
1                Renato Rodrigues              0                  3
2          Bladimir Muriel Mamani              0                  1
3          Alberto Cuellar Rivero              0                  1
4              Juan Carlos Mamani              0                  4
5  Giovanna Judith Martinez Bravo              0                  2

   Número de niños    Ingreso     Salida  Número de noches  \
0                0 2025-02-27 2025-03-16                17
1                0 2025-01-28 2025-01-02                 4
2                0 2025-01-02 2025-02-02                 1
3                0 2025-01-29 2025-01-31                 2
4                0 2025-01-18 2025-01-20                 2
5                0 2025-01-16 2025-01-17                 1

  Fecha de Reservación Propietario          Propiedad  Ingresos Totales BOB  \
0                  NaT     Familia  MACORORO 12 - 12F              4963.425
1                  NaT     Familia   MACORORO 15 - 8G              2263.425
2                  NaT     Familia    SKY ELITE - 229               307.500
3                  NaT     Familia    SKY ELITE - 229               532.500
4                  NaT     Familia    SKY ELITE - 229               532.500
5                  NaT     Familia    SKY ELITE - 229               307.500

   Precio BOB  AirBNB fee BOB  Limpieza BOB
0        4350         538.425          75.0
1        2100          65.925          97.5
2         195          37.500          75.0
3         390          67.500          75.0
4         390          67.500          75.0
5         195          37.500          75.0
datetime64[ns]
                Nombre del huésped       Contacto  Número de adultos  \
0             Gustavo Rodolfo Vega              0                  1
1         Jose Antonio Rivero Moro              0                  2
2  Luis Alexander Espinoza La Cruz              0                  1
3                    Erick Herrera  +591 78434480                  1
4                    Erick Herrera  +591 78434480                  1

   Número de niños    Ingreso     Salida  Número de noches  \
0                0 2025-02-27 2025-03-01                 2
1                0 2025-03-08 2025-03-10                 2
2                0 2025-02-16 2025-02-21                 5
3                0 2025-02-28 2025-03-01                 1
4                0 2025-02-26 2025-02-28                 2

  Fecha de Reservación   Propietario        Propiedad  Ingresos Totales BOB  \
0                  NaT     Dr._Ortiz  SKY ELITE - 320                 547.5
1                  NaT     Dr._Ortiz  SKY ELITE - 524                 547.5
2                  NaT     Dr._Ortiz  SKY ELITE - 524                1237.5
3                  NaT  Boris_Ayviri  SKY ELITE - 115                 337.5
4                  NaT  Boris_Ayviri  SKY ELITE - 115                 582.0

   Ingresos Propietario BOB  Comision BOB  Limpieza BOB
0                   411.750        60.750            75
1                   411.750        60.750            75
2                  1010.625       151.875            75
3                   229.875        32.625            75
4                   441.750        65.250            75
       Nombre del huésped       Contacto  Número de adultos  Número de niños  \
0         Daniel Illescas  +591 67985704                  2                0
1        Renato Rodrigues              0                  3                0
2  Bladimir Muriel Mamani              0                  1                0
3  Alberto Cuellar Rivero              0                  1                0
4      Juan Carlos Mamani              0                  4                0

     Ingreso     Salida  Número de noches Fecha de Reservación Propietario  \
0 2025-02-27 2025-03-16                17                  NaT     Familia
1 2025-01-28 2025-01-02                 4                  NaT     Familia
2 2025-01-02 2025-02-02                 1                  NaT     Familia
3 2025-01-29 2025-01-31                 2                  NaT     Familia
4 2025-01-18 2025-01-20                 2                  NaT     Familia

           Propiedad  Ingresos Totales BOB  Precio BOB  AirBNB fee BOB  \
0  MACORORO 12 - 12F              4963.425        4350         538.425
1   MACORORO 15 - 8G              2263.425        2100          65.925
2    SKY ELITE - 229               307.500         195          37.500
3    SKY ELITE - 229               532.500         390          67.500
4    SKY ELITE - 229               532.500         390          67.500

   Limpieza BOB
0          75.0
1          97.5
2          75.0
3          75.0
4          75.0

In [106]:
# Strip whitespace and ensure string type
cleaned_df_cohost['Contacto'] = cleaned_df_cohost['Contacto'].astype(str).str.strip()

# Contacto 0 values should be Nan.
cleaned_df_cohost['Contacto'] = cleaned_df_cohost['Contacto'].replace("0", np.nan)

# Finding out if there are any missing values.
print(cleaned_df_cohost.isna().sum())

# We have 24 missing values in Contacto, this values should be null values.
print(cleaned_df_cohost['Contacto'].value_counts()) 

# The DataFrame lenght is 26
print(len(cleaned_df_cohost))

Nombre del huésped           0
Contacto                    24
Número de adultos            0
Número de niños              0
Ingreso                      0
Salida                       0
Número de noches             0
Fecha de Reservación        26
Propietario                  0
Propiedad                    0
Ingresos Totales BOB         0
Ingresos Propietario BOB     0
Comision BOB                 0
Limpieza BOB                 0
dtype: int64
Contacto
+591 78434480    2
Name: count, dtype: int64
26

In [107]:
# Adding Property Type to further our analysis, to underestand what type of properties perform better, mapping the values from 'Propiedad' 

#################    CoHost    ###############
# Define the mapping dictionary
property_type_mapping = {
    'MACORORO 12 - 12F': '1 Dormitorio',
    'YOU - 316': 'Monoambiente',
    'SKY ELITE - 320': 'Monoambiente',
    'SKY ELITE - 132': '1 Dormitorio',
    'SKY ELITE - 229': 'Monoambiente',
    'SKY ELITE - 115': 'Monoambiente',
    'TORRES SIRARI - 5A': '1 Dormitorio',
    'MACORORO 8': '1 Dormitorio',
    'MACORORO 15 - 8G': '3 Dormitorios',
    'SKY ELITE - 524': 'Monoambiente',
    'SKY ELITE - 323': 'Monoambiente',
    'HOTEL RADISSON - SENIOR SUITE': 'Senior Suite',
    'SKY ELITE - 510': 'Monoambiente',
    'SKY LUXIA - 513': 'Monoambiente'
}

# Create the new column 'Property Type' using the mapping dictionary
cleaned_df_cohost['Property Type'] = cleaned_df_cohost['Propiedad'].map(property_type_mapping)

cleaned_df_anfitrion['Property Type'] = cleaned_df_anfitrion['Propiedad'].map(property_type_mapping)

# Display the updated DataFrame
print(cleaned_df_cohost[['Propiedad', 'Property Type']].head())
print(cleaned_df_anfitrion[['Propiedad', 'Property Type']].head())

         Propiedad Property Type
0  SKY ELITE - 320  Monoambiente
1  SKY ELITE - 524  Monoambiente
2  SKY ELITE - 524  Monoambiente
3  SKY ELITE - 115  Monoambiente
4  SKY ELITE - 115  Monoambiente
           Propiedad  Property Type
0  MACORORO 12 - 12F   1 Dormitorio
1   MACORORO 15 - 8G  3 Dormitorios
2    SKY ELITE - 229   Monoambiente
3    SKY ELITE - 229   Monoambiente
4    SKY ELITE - 229   Monoambiente

In [108]:
# Adding if the properties are of our own (family) or one of our clients that we manage them for

#################    CoHost    ###############
# Define the mapping dictionary
property_management_mapping = {
    'MACORORO 12 - 12F': 'Propia',
    'YOU - 316': 'Administrada',
    'SKY ELITE - 320': 'Administrada',
    'SKY ELITE - 132': 'Administrada',
    'SKY ELITE - 229': 'Propia',
    'SKY ELITE - 115': 'Administrada',
    'TORRES SIRARI - 5A': 'Administrada',
    'MACORORO 8': 'Propia',
    'MACORORO 15 - 8G': 'Propia',
    'SKY ELITE - 524': 'Administrada',
    'SKY ELITE - 323': 'Administrada',
    'HOTEL RADISSON - SENIOR SUITE': 'Administrada',
    'SKY ELITE - 510': 'Administrada',
    'SKY LUXIA - 513': 'Administrada'
}

# Create the new column 'Gestion' using the mapping dictionary
cleaned_df_cohost['Management'] = cleaned_df_cohost['Propiedad'].map(property_management_mapping)

cleaned_df_anfitrion['Management'] = cleaned_df_anfitrion['Propiedad'].map(property_management_mapping)

# Display the updated DataFrame
print(cleaned_df_cohost[['Propiedad', 'Management']].head())
print(cleaned_df_anfitrion[['Propiedad', 'Management']].head())

         Propiedad    Management
0  SKY ELITE - 320  Administrada
1  SKY ELITE - 524  Administrada
2  SKY ELITE - 524  Administrada
3  SKY ELITE - 115  Administrada
4  SKY ELITE - 115  Administrada
           Propiedad Management
0  MACORORO 12 - 12F     Propia
1   MACORORO 15 - 8G     Propia
2    SKY ELITE - 229     Propia
3    SKY ELITE - 229     Propia
4    SKY ELITE - 229     Propia

In [109]:
# Asigning the correct values to the 'Propietario' column, not needed for the cleaned_df_anfitrion
# Define a mapping to replace values in 'Propietario'
propietario_name_mapping = {
    'Dr._Ortiz': 'Dr. Ortiz',
    'Boris_Ayviri': 'Boris Ayviri',
    'Lic._Freddy_Soria': 'Lic. Freddy Soria',
    'Roberto_Vargas': 'Roberto Vargas',
    'Gabriela_Salama': 'Gabriela Salama',
    'Betty_Vargas': 'Betty Vargas'
}

# Apply the replacement on the 'Propietario' column
cleaned_df_cohost['Propietario'] = cleaned_df_cohost['Propietario'].replace(propietario_name_mapping)

# cleaned_df_anfitrion['Propietario'] = cleaned_df_anfitrion['Propietario'].replace(propietario_name_mapping)

# verify the result
print(cleaned_df_cohost['Propietario'].unique())
print(cleaned_df_anfitrion['Propietario'].unique())

['Dr. Ortiz' 'Boris Ayviri' 'Lic. Freddy Soria']
['Familia']

In [111]:
print(cleaned_df_cohost.describe())
print(cleaned_df_anfitrion.describe())
print(cleaned_df_cohost.columns)
print(cleaned_df_anfitrion.columns)

       Número de adultos  Número de niños                        Ingreso  \
count          26.000000             26.0                             26
mean            2.269231              0.0  2025-01-31 13:50:46.153846272
min             1.000000              0.0            2025-01-11 00:00:00
25%             2.000000              0.0            2025-01-17 00:00:00
50%             2.000000              0.0            2025-01-24 12:00:00
75%             2.750000              0.0            2025-02-14 18:00:00
max             4.000000              0.0            2025-03-08 00:00:00
std             1.002305              0.0                            NaN

                              Salida  Número de noches Fecha de Reservación  \
count                             26         26.000000                    0
mean   2025-02-04 21:13:50.769230848          3.346154                  NaT
min              2025-01-12 00:00:00          1.000000                  NaT
25%              2025-01-18 06:00:00          1.000000                  NaT
50%              2025-01-26 12:00:00          2.000000                  NaT
75%              2025-02-25 12:00:00          3.000000                  NaT
max              2025-03-10 00:00:00         31.000000                  NaT
std                              NaN          5.837412                  NaN

       Ingresos Totales BOB  Ingresos Propietario BOB  Comision BOB  \
count             26.000000                 26.000000     26.000000
mean             917.760577                731.846827    110.913750
min              315.000000                209.625000     30.375000
25%              402.975000                286.350000     41.625000
50%              547.500000                411.750000     60.750000
75%              831.918750                659.043750     97.875000
max             7015.350000               5990.467500    949.882500
std             1298.304435               1120.306636    178.012593

       Limpieza BOB
count          26.0
mean           75.0
min            75.0
25%            75.0
50%            75.0
75%            75.0
max            75.0
std             0.0
       Número de adultos  Número de niños              Ingreso  \
count           6.000000              6.0                    6
mean            2.166667              0.0  2025-01-25 04:00:00
min             1.000000              0.0  2025-01-02 00:00:00
25%             1.250000              0.0  2025-01-16 12:00:00
50%             2.000000              0.0  2025-01-23 00:00:00
75%             2.750000              0.0  2025-01-28 18:00:00
max             4.000000              0.0  2025-02-27 00:00:00
std             1.169045              0.0                  NaN

                    Salida  Número de noches Fecha de Reservación  \
count                    6          6.000000                    0
mean   2025-01-29 16:00:00          4.500000                  NaT
min    2025-01-02 00:00:00          1.000000                  NaT
25%    2025-01-17 18:00:00          1.250000                  NaT
50%    2025-01-25 12:00:00          2.000000                  NaT
75%    2025-02-01 12:00:00          3.500000                  NaT
max    2025-03-16 00:00:00         17.000000                  NaT
std                    NaN          6.220932                  NaN

       Ingresos Totales BOB   Precio BOB  AirBNB fee BOB  Limpieza BOB
count              6.000000     6.000000        6.000000      6.000000
mean            1484.475000  1270.000000      135.725000     78.750000
min              307.500000   195.000000       37.500000     75.000000
25%              363.750000   243.750000       44.606250     75.000000
50%              532.500000   390.000000       66.712500     75.000000
75%             1830.693750  1672.500000       67.500000     75.000000
max             4963.425000  4350.000000      538.425000     97.500000
std             1859.726287  1675.431288      197.810481      9.185587
Index(['Nombre del huésped', 'Contacto', 'Número de adultos',
       'Número de niños', 'Ingreso', 'Salida', 'Número de noches',
       'Fecha de Reservación', 'Propietario', 'Propiedad',
       'Ingresos Totales BOB', 'Ingresos Propietario BOB', 'Comision BOB',
       'Limpieza BOB', 'Property Type', 'Management'],
      dtype='object')
Index(['Nombre del huésped', 'Contacto', 'Número de adultos',
       'Número de niños', 'Ingreso', 'Salida', 'Número de noches',
       'Fecha de Reservación', 'Propietario', 'Propiedad',
       'Ingresos Totales BOB', 'Precio BOB', 'AirBNB fee BOB', 'Limpieza BOB',
       'Property Type', 'Management'],
      dtype='object')

In [ ]:
# Crear copia para no modificar los originales
df_cohost_combined = cleaned_df_cohost.copy()
df_anfitrion_combined = cleaned_df_anfitrion.copy()

# Calcular 'Ingresos Totales BOB' como suma de 'Comision BOB' + 'Limpieza BOB'
df_cohost_combined['Ingresos Totales BOB'] = df_cohost_combined['Comision BOB'] + df_cohost_combined['Limpieza BOB']

# Definir columnas comunes para mantener
columns_to_keep = [
    'Nombre del huésped', 'Contacto', 'Número de adultos', 'Número de niños',
    'Ingreso', 'Salida', 'Número de noches', 'Fecha de Reservación',
    'Propietario', 'Propiedad', 'Ingresos Totales BOB', 'Limpieza BOB',
    'Property Type', 'Management'
]

# Seleccionar columnas comunes de ambos dataframes
df_cohost_common = df_cohost_combined[columns_to_keep]
df_anfitrion_common = df_anfitrion_combined[columns_to_keep]

# Concatenar los dos DataFrames
df_combined_BOB = pd.concat([df_cohost_common, df_anfitrion_common], ignore_index=True)

# Verificar la estructura
print("Columnas del DataFrame combinado:", df_combined_BOB.columns.tolist())
print("Total de filas combinadas:", len(df_combined_BOB))
print(df_combined_BOB.head())

Columnas del DataFrame combinado: ['Nombre del huésped', 'Contacto', 'Número de adultos', 'Número de niños', 'Ingreso', 'Salida', 'Número de noches', 'Fecha de Reservación', 'Propietario', 'Propiedad', 'Ingresos Totales BOB', 'Limpieza BOB', 'Property Type', 'Management']
Total de filas combinadas: 32
                Nombre del huésped       Contacto  Número de adultos  \
0             Gustavo Rodolfo Vega            NaN                  1
1         Jose Antonio Rivero Moro            NaN                  2
2  Luis Alexander Espinoza La Cruz            NaN                  1
3                    Erick Herrera  +591 78434480                  1
4                    Erick Herrera  +591 78434480                  1

   Número de niños    Ingreso     Salida  Número de noches  \
0                0 2025-02-27 2025-03-01                 2
1                0 2025-03-08 2025-03-10                 2
2                0 2025-02-16 2025-02-21                 5
3                0 2025-02-28 2025-03-01                 1
4                0 2025-02-26 2025-02-28                 2

  Fecha de Reservación   Propietario        Propiedad  Ingresos Totales BOB  \
0                  NaT     Dr. Ortiz  SKY ELITE - 320               135.750
1                  NaT     Dr. Ortiz  SKY ELITE - 524               135.750
2                  NaT     Dr. Ortiz  SKY ELITE - 524               226.875
3                  NaT  Boris Ayviri  SKY ELITE - 115               107.625
4                  NaT  Boris Ayviri  SKY ELITE - 115               140.250

   Limpieza BOB Property Type    Management
0          75.0  Monoambiente  Administrada
1          75.0  Monoambiente  Administrada
2          75.0  Monoambiente  Administrada
3          75.0  Monoambiente  Administrada
4          75.0  Monoambiente  Administrada